<div class="sidebar">

        <div class="sidebar-section">
            <h5><span>BOLETIM DE NOTÍCIAS</span></h5>
            {% include newsletter.html %}
        </div>

        <div class="sidebar-section">
            <h5><span>LINKS ÚTEIS</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://www.ankr.com/">Site Oficial</a></li>
            <li><a target="blank" href="https://github.com/Ankr-network">GitHub Oficial</a></li>
            <li><a target="blank" href="https://s3-us-west-1.amazonaws.com/app.ankr.network/assets/Ankr_Whitepaper_20190524.pdf">WhitePaper</a></li>
            <li><a target="blank" href="https://t.me/ankrnetwork">Telegram Oficial</a></li>
            <li><a target="blank" href="https://www.ankr.com/blog">Blog Oficial</a></li>
            </ul>
        </div>

        <div class="sidebar-section">
             <h5><span>MERCADO</span></h5>
           <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="3783" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>

</div>
